.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: clip;
}

header {
  &.ambassa-theme {
    background-color: #333;

    mat-toolbar {
      background-color: #333;

      .logo {
        height: 80px;
        width: auto;
        padding: 10px 5px;
      }
    }
  }

  .menu-mobile {
    display: none;
  }
}

mat-toolbar {
  height: auto;
  background-color: white;

  .spacer {
    flex: 1 1 auto;
  }

  .logo {
    width: 325px;
    padding: 30px 5px 20px 5px;
  }

  &.dark {
    .menu a {
      color: white;
      padding: 5px 10px;
      border-radius: 3px;

      &.selected {
        background-color: var(--primary);
      }
    }

    .menu-mobile {
      color: white;
    }
  }

  .nav-link {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    padding: .5rem 0 0;
    position: relative;
    color: var(--primary-800);
    text-decoration: none;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &.selected {
      span:before {
        opacity: 1;
        width: 100%;
      }
    }

    span {
      position: relative;

      &:before {
        background-color: var(--primary);;
        bottom: -1px;
        content: "";
        display: block;
        height: 1px;
        opacity: 0;
        position: absolute;
        transition: all .35s ease;
        width: 0;
        left: 0;
      }
    }
  }
}

.banner {
  width: 100%;
  margin-bottom: 20px;

  &.ambassa-theme {
    display: none;
  }

  .container-fluid {
    max-width: none;
  }
}

.banner-image {
  background-image: url(https://25493451.fs1.hubspotusercontent-eu1.net/hubfs/25493451/Different-Doors-expect-the-unexpected-v2-1.jpg.png);
  background-size: cover;
  min-height: 200px;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  align-items: center;
  justify-content: center;

  .row {
    display: flex;
    align-items: center;
  }

  .text-end {
    text-align: right !important;
  }

  .col-6 {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    width: 50%;
  }
}

main {
  flex: 1;

  .container-fluid {
    //width: 100%;
    padding: 48px 15px;
  }
}

//.footer-banner{
//  display: none;
//  &.ambassa-theme {
//    display: block;
//    position: relative;
//    overflow: hidden;
//    &::before {
//      background-color: #f49651 !important;
//      bottom: 0;
//      content: "";
//      height: 200px;
//      right: -100px;
//      position: absolute;
//      transform: skewX(333deg);
//      width: 70%;
//    }
//  }
//}
.site-footer {
  position: relative;
  //overflow: hidden;

  &.ambassa-theme {
    .footer-wrapper {
      margin-top: 30px;
      background: #333 !important;
    }

    &::before {
      background-color: var(--primary) !important;
      bottom: 0;
      content: "";
      height: 200px;
      right: 0;
      position: absolute;
      transform: skewX(333deg);
      width: 70%;
    }
  }

  .footer-wrapper {
    //background: url(//f.hubspotusercontent-eu1.net/hubfs/25493451/raw_assets/public/DifferentDoors_February2022/images/footer-bg.jpg) left top no-repeat #222 !important;
    padding: 72px 0;
    position: relative;
    //overflow-x: hidden;
    display: block;
    background-color: black;


    .container {
      padding: 0 15px;

      .site-info {
        display: flex;
        justify-content: space-between;
        color: #ccc;


        a {
          text-decoration: none;
          color: #ccc;
          &:hover {
            color: white;
            transition: 0.2s;
          }
        }

      }
    }
  }
}

@media (max-width: 991px) {
  mat-toolbar {
    .logo {
      height: 50px;
    }
  }
  .menu {
    display: none;
  }
  .menu-mobile {
    display: block !important;
  }
}

@media (max-width: 576px) {
  mat-toolbar {
    .logo {
      width: 230px;
      padding: 15px 5px;
    }
  }
  .ambassa-theme {
    mat-toolbar {
      .logo {
        height: 60px !important;
      }
    }
  }
  .footer-wrapper {
    .site-info {
      flex-direction: column;
      gap: 10px;
    }
  }
}
