@if (themeService.theme$|async; as theme) {
  <div class="wrapper">
    <header [class]="theme.name">
      <div class="container-fluid">
        <mat-toolbar [class.dark]="theme.name=='ambassa-theme'">
          <a [routerLink]="'/customers/'+ id"><img
            [src]="theme.name=='ambassa-theme'?theme.imageLight:theme.imageDark" alt="Logo" class="logo"></a>
          <span class="spacer"></span>
          <div class="menu">
            @if (isDealStage) {
              <a class="nav-link" routerLink="/customers/{{id}}/start" routerLinkActive="selected">
                <span i18n="@@nav.home">Startpagina</span>
              </a>
            }

            <a class="nav-link" routerLink="/customers/{{id}}/configurations" routerLinkActive="selected">
              @if (isCustomer) {
                <span i18n="@@nav.my_configuration">Mijn configuratie</span>
              } @else {
                <span i18n="@@nav.configurations">Configuraties</span>
              }
            </a>
            @if (isCustomer) {
              <a class="nav-link" routerLink="/customers/{{id}}/history" routerLinkActive="selected">
                <span i18n="@@nav.work_orders">Werkbonnen</span>
              </a>
            }

            @if (isExtern) {
              <a class="nav-link" routerLink="/customers/{{id}}/intern" routerLinkActive="selected">
                <span i18n="@@nav.internal">Intern</span>
              </a>
            }
          </div>
          <div class="lang-switch">
            <button class="lang-btn" [class.active]="localeService.currentLocale === 'nl'" (click)="localeService.switchToLocale('nl')">NL</button>
            <span class="lang-divider">|</span>
            <button class="lang-btn" [class.active]="localeService.currentLocale === 'en'" (click)="localeService.switchToLocale('en')">EN</button>
          </div>
          <div class="menu-mobile">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              @if (isCustomer) {
                <a mat-menu-item routerLink="/customers/{{id}}" routerLinkActive="selected" i18n="@@nav.home">
                  Startpagina
                </a>
              }
              <a mat-menu-item routerLink="/customers/{{id}}/configurations" routerLinkActive="selected">
                @if (isCustomer) {
                  <ng-container i18n="@@nav.my_configuration">Mijn configuratie</ng-container>
                } @else {
                  <ng-container i18n="@@nav.configurations">Configuraties</ng-container>
                }
              </a>
              @if (isCustomer) {
                <a mat-menu-item routerLink="/customers/{{id}}/history" routerLinkActive="selected" i18n="@@nav.work_orders">
                  Werkbonnen
                </a>
              }
            </mat-menu>
          </div>
        </mat-toolbar>
      </div>
    </header>
    <div class="banner container-fluid" [class]="theme.name">
      <div class="banner-image">
        <div class="row">
          <div class="col-6 text-end">
            <img src="https://www.differentdoors.nl/wp-content/themes/doors/dist/images/expect-the.png.webp"
                 width="139" height="25" alt="expect the">
          </div>
          <div class="col-6">
            <img src="https://www.differentdoors.nl/wp-content/themes/doors/dist/images/unexpected.png.webp"
                 width="151" height="25" alt="unexpected">
          </div>
        </div>
      </div>
    </div>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer class="site-footer" [class]="theme.name">
      <div class="footer-wrapper">
        <div class="container container-fluid">
          <div class="site-info">
            <div class="copyright-text">
              © 2025 {{ theme.displayName }}
            </div>
            <div class="links">
              <a href="https://www.differentdoors.nl/privacy-policy/" i18n="@@footer.privacy">Privacy policy</a> |
              <a
                href="https://25493451.fs1.hubspotusercontent-eu1.net/hubfs/25493451/Algemene%20voorwaarden%202025%20-%20Different%20Doors.pdf"
                target="_blank" rel="noopener" i18n="@@footer.terms">Algemene voorwaarden</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
}
