<div class="dnd-section ">
  <div class="container-fluid">
      <div class="row">
        <h1>Belangrijke documenten</h1>
        <p>
          Hier vindt u alle belangrijke documenten die van toepassing zijn op een correcte voortgang van uw project.<br><br>
          U kunt deze gemakkelijk downloaden als PDF bestand.
        </p>
      </div>
      <div class="row">
        <a class="single-file"
           href="https://25493451.fs1.hubspotusercontent-eu1.net/hubfs/25493451/Aanhangercombinatie-2025.pdf"
           target="_blank">
          <div class="file-icon" style="width: 40px; height: 36px">
            <img src="assets/images/file-icon.svg" alt="icon">
          </div>
          <div class="info">
            <div class="name">
              Belangrijke informatie ter voorbereiding van de montagedag.pdf
            </div>
          </div>
        </a>
        <a class="single-file"
           href="https://25493451.fs1.hubspotusercontent-eu1.net/hubfs/25493451/Aandachtspunten%20aanleveren%20buitenbekleding%20-%202025%201.pdf"
           target="_blank">
          <div class="file-icon" style="width: 40px; height: 36px">
            <img src="assets/images/file-icon.svg" alt="icon">
          </div>
          <div class="info">
            <div class="name">
              Aandachtspunten aanleveren buitenbekleding.pdf
            </div>
          </div>
        </a>
      </div>
  </div>
</div>
