.dnd-section {
  .row {
    padding: 0 20px;
    .single-file {
      display: flex;
      padding: 0.5rem;
      align-items: center;
      border: solid 1px #979797;
      margin-bottom: 1rem;
      border-radius: 5px;
      background-color: #f8fafb;

      .name {
        font-size: 14px;
        margin-left: 6px;
        font-weight: 500;
        color: #353f4a;
      }

      .info {
        width: 100%
      }
    }
  }
}

