<div class="dnd-section ">
  <div class="container-fluid">
    <div class="row">
      <h1>Veelgestelde vragen</h1>
      <p>Een vraag over jouw project of werkwijze? Hier vind je de antwoorden op de meest gestelde vragen.<br>
        Staat jouw vraag er niet tussen? Bel of mail gerust – wij staan voor je klaar.</p>
    </div>
    @if (loading) {
      <mat-spinner color="primary"></mat-spinner>
    }
    @for (group of questions; track group.key) {
      <div class="row">
        <h3>{{ group.key }}</h3>
        <mat-accordion>
          @for (faq of group.values; track faq) {
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title><h3>{{ faq.values.name }}</h3></mat-panel-title>
              </mat-expansion-panel-header>
              <p class="light" [innerHTML]="faq.values.description|safeHtml"></p>
            </mat-expansion-panel>
          }
        </mat-accordion>
      </div>
    }
  </div>

</div>
