@page {
  size: A4;
  margin: 15mm 4mm 12mm 0;
}

@media print {
  .btn-print {
    visibility: hidden !important;
  }
  .breadcrumb {
    display: none;
  }
  .form {
    padding: 0 !important;
  }
  .page {
    margin: 0 !important;
    box-shadow: none;
    width: 100% !important;

    .form-header {
      flex-direction: row;

      .logo {
        img {
          width: 150px;
        }
      }

      .title {
        display: flex;

        h1 {
          width: 100%;
          font-size: 24px;
          font-weight: 600;
        }
      }

      small {
        display: none;
      }
    }

    .form-content {
      font-size: 15px;
    }
  }
  .form-section {
    //page-break-inside: avoid !important;
    .table-responsive {
      th {
        width: 150px !important;
        text-align: start;
        vertical-align: baseline;
        padding: 0!important;
        display: table-cell;
      }

      tr, td {
        padding: 0 !important;
        display: table-cell;
        width: 150px;
      }
    }
  }
  .section {
    page-break-inside: avoid !important;
    //max-height: 900px;
    img {
      page-break-inside: avoid;max-height: 450px !important;max-width: 100%;width: auto;

    }
  }
}
