@use '../../../../node_modules/@angular/material/index' as mat;
@use 'sass:map';
@use "../components.style" as components;
@use "./warn.scss" as warn;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


@include mat.core();

body { margin: 0; font-family: "Poppins", sans-serif; }

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;
$background-color: white;
$background-accent-color: #e5e5e5;

@font-face {
  font-family: 'PPFuji';
  src: url('/assets/theme/fonts/PPFuji-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPFuji';
  src: url('/assets/theme/fonts/PPFuji-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

$palette: (
  50 : #fcede5,
  100 : #f9d2be,
  200 : #f5b493,
  300 : #f09568,
  400 : #ed7f47,
  500 : #f49651 ,
  600 : #e76023,
  700 : #e4551d,
  800 : #e14b17,
  900 : #db3a0e,
  A100 : #ffffff,
  A200 : #ffdbd4,
  A400 : #ffb1a1,
  A700 : #ff9c87,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$primary: mat.define-palette($palette);
$accent: mat.define-palette($palette);
$warn: mat.define-palette(warn.$md-warn);

$typography: mat.define-typography-config(
  $font-family: 'Poppins, sans-serif',
);

// color config function
$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  ),
  typography: $typography,
  density: 0,
));

$background: map-get($theme, background);
$background: map_merge($background, (
  background: $background-color,
  background-accent:$background-accent-color
));
$theme: map_merge($theme, (background: $background));


@include mat.all-component-themes($theme);
@include components.theme($theme);

mat-stepper {
  /* Achtergrondkleur van het icoon */
  --mat-stepper-header-icon-background-color: #{map.get($primary, 500)};
  --mat-stepper-header-label-text-color: #{map.get($primary, 500)};

  /* Geselecteerde state */
  --mat-stepper-header-selected-state-icon-background-color: #{map.get($primary, 500)};
  //--mat-stepper-header-selected-state-label-text-color: #{map.get($primary, 500)};
  --mat-stepper-header-selected-state-label-text-weight: 600;

  /* Afgeronde stap */
  --mat-stepper-header-done-state-icon-background-color: var(--mat-sys-tertiary);
  --mat-stepper-header-done-state-icon-foreground-color: var(--mat-sys-on-tertiary);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "PPFuji", sans-serif;
  color: #333 !important;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 300;
  line-height: 1;
  margin-top: 0;
}
.dnd-section {
  margin: 50px 0;
}
