@use '@angular/material' as mat;
@use "assets/theme/components.style" as components;
@include mat.core();
@import "./assets/theme/responsive.style";

html, body { height: 100%; }
//body { margin: 0; fonts-family: proxima-nova, "Helvetica Neue", sans-serif; }
:host {
  box-sizing: border-box;
  display: block;
  height: 100%;
}
.container-fluid {
  margin: 0 auto;
}
mat-spinner {
  margin: 10px auto;
}
