<div class="dnd-section ">
  <div class="container-fluid">
    <div class="row">
      <h1>Delen aanleveren</h1>
      <p>
        Wanneer er aangeleverde delen zijn, dienen deze eerst geleverd te worden voordat het tekenwerk opgestart kan
        worden.<br><br>

        Dit is belangrijk omdat deze delen niet maatvast zijn.<br>

        Pas wanneer wij de delen definitief binnen hebben, wordt het tekenwerk opgestart.<br><br>

        Download onderstaand document met alle informatie omtrent het aanleveren van delen.<br>
        En we verzoeken u vriendelijk om het formulier in de bijlage toe te voegen bij de aan te leveren delen.
      </p>
    </div>
    <div class="row">
      <a class="single-file"
         href="https://25493451.fs1.hubspotusercontent-eu1.net/hubfs/25493451/Aandachtspunten%20aanleveren%20buitenbekleding%20-%202025%201.pdf"
         target="_blank">
        <div class="file-icon" style="width: 40px; height: 36px">
          <img src="assets/images/file-icon.svg" alt="icon">
        </div>
        <div class="info">
          <div class="name">
            Aandachtspunten aanleveren buitenbekleding - 2025.pdf
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
