<div class="dnd-section ">
  <div class="container-fluid">
    @defer (when customer !== null) {
      <div class="row">
        <h1>P{{ customer?.dealId }}</h1>
        <hr class="divider accent-text">
        @if (configurations.length > 0) {
          <h2 i18n="@@history.title">Historie</h2>
          @if (!loading && !error) {
            <mat-table mat-table [dataSource]="configurations">
              <!-- Name Column -->
              <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef i18n="@@history.col_work_order">Werkbon</mat-header-cell>
                <mat-cell *matCellDef="let element" class="row-title">{{ element.title }}</mat-cell>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="createdAt">
                <mat-header-cell *matHeaderCellDef i18n="@@history.col_created_at">Aanmaakdatum</mat-header-cell>
                <mat-cell *matCellDef="let element"><span
                  class="mobile-label" i18n="@@history.mobile_created_at">Aangemaakt op:</span>&nbsp;{{ element.createdAt | date: 'dd-MM-yyyy' }}
                </mat-cell>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="createdBy">
                <mat-header-cell *matHeaderCellDef i18n="@@history.col_created_by">Aangemaakt door</mat-header-cell>
                <mat-cell *matCellDef="let element"><span
                  class="mobile-label" i18n="@@history.mobile_created_by">Aangemaakt door:</span>&nbsp;{{ element.createdBy }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="icons">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                  @if (element.preview?.approval != undefined) {
                    @if (element?.preview?.approval?.name) {
                      <mat-icon class="success">check_circle_outlined</mat-icon>
                    } @else {
                      <mat-icon class="warning">warning</mat-icon>
                    }
                  }
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="button" stickyEnd>
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a mat-raised-button color="primary" class="row-action-button" i18n="@@history.open_button">Open werkbon</a>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row (click)="selectRow(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          }
          @if (loading) {
            <mat-spinner color="primary"></mat-spinner>
          }
          @if (error) {
            <span i18n="@@history.load_error">Kon werkbonnen niet ophalen, probeer het opnieuw:</span>
            <button mat-raised-button color="primary">
              <mat-icon>refresh</mat-icon>
            </button>
          }
        } @else {
          <div class="empty" i18n="@@history.empty">Nog geen werkbonnen</div>
        }
      </div>
    } @placeholder {
      <mat-spinner color="primary"></mat-spinner>
    }
  </div>
</div>
